Importing the libraries

In [2]:
import numpy as np 
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data collection and Analysis

In [3]:
data=pd.read_csv('/content/diabetes.csv')

In [4]:
# printing the first 5 rows of the dataset
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
# number of rows and columns in the dataset
data.shape

(768, 9)

In [8]:
# statistical measures of the data
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [10]:
# 0--- Non-Diabetic
# 1--- Diabetic
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [11]:
data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [12]:
# sperating data and labels
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

Train Test Split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1,stratify=y)

In [19]:
print(x.shape,x_train.shape,x_test.shape)

(768, 8) (614, 8) (154, 8)

Feature Scaling

In [18]:
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

Training the model

In [30]:
model = svm.SVC(kernel='linear')

In [31]:
# training the svm
model.fit(x_train,y_train)

SVC(kernel='linear')

In [33]:
# accuracy score on the training data
x_train_predict=model.predict(x_train)
train_accuracy=accuracy_score(x_train_predict,y_train)
print ("Accuracy Score of the training data :" ,train_accuracy)

Accuracy Score of the training data : 0.7833876221498371

In [34]:
# accuracy score on the test data
x_test_predict=model.predict(x_test)
test_accuracy=accuracy_score(x_test_predict,y_test)
print ("Accuracy Score of the test data :" ,test_accuracy)

Accuracy Score of the test data : 0.7792207792207793

Making a Predictive System

In [37]:
input_data = (5,166,72,19,175,25.8,0.587,51)

#1.changing the input data to numpy array
df=np.asarray(input_data)

#2.reshape the array as we ara predicting for one instance
df=df.reshape(1,-1)

#3-standardize the input data
df=sc.transform(df)

predication=model.predict(df)
print(predication)

if (predication[0]==0):
  print('The person is not diabetic')
else :
  print('The person is diabetic')

[1]
The person is diabetic